@model PriceReferencePortal.Context.orderDetail

@{
    ViewBag.Title = "order_DeleteOrderDetail";
}

<div class="container-fluid">
    <h2>Delete Order Detail</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Order Detail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ordernumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ordernumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.supplyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.supplyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.vendor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.vendor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sku)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sku)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.delivery_lead_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.delivery_lead_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.validity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.validity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date_created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.qty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.qty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.totalAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.totalAmount)
            </dd>

        </dl>
        @{ 
            var idd = Model.ordernumber;
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "UpdateOrder", new { id = Model.ordernumber})
            </div>
        }
    </div>
</div>