@model IEnumerable<PriceReferencePortal.Context.supply>

<h2>Supply List</h2>

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Item List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="display table-bordered table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sku)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.delivery_lead_time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.validity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.date_created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.created_by)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sku)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.delivery_lead_time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.validity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date_created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_by)
                                </td>
                                <td>
                                    @Html.ActionLink("Add", "order_updateGetOrder", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
              </div>
        </div>
    </div>
</div>

